.cardHeader{
    font-weight: bold;
}

.cardText{
    font-size: 20px; 
}

.singleCard1{
    padding: 25px;
    margin-bottom: 30px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 5px 5px 5px 20px #E5FDF3;
}

.singleCard2{
    padding: 25px;
    margin-bottom: 30px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 5px 5px 5px 20px #E5FDF3;
}

.singleCard1:hover{
    background: linear-gradient(45deg, #0DB9DF, #13C6CE, #1EDCB5);
    color: white;
}

.singleCard2:hover{
    background: linear-gradient(45deg, #0DB9DF, #1EDCB5);
    color: white;
}

.icon{
    font-size: 70px;
    padding-right: 20px;
}